[submodule "external/EAT"]
	path = external/EAT
	url = https://github.com/cwx-worst-one/EAT.git
[submodule "external/emotion2vec"]
	path = external/emotion2vec
	url = https://github.com/ddlBoJack/emotion2vec.git
[submodule "external/dinov2"]
	path = external/dinov2
	url = https://github.com/facebookresearch/dinov2.git
[submodule "external/fairseq"]
	path = external/fairseq
	url = https://github.com/facebookresearch/fairseq.git
